<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Killhope.Plugins.Manager.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Killhope.Plugins.Manager.Presentation.Properties.Settings>
            <setting name="DefaultFTPServer" serializeAs="String">
                <value>ftp.dur.ac.uk</value>
            </setting>
            <setting name="DefaultFTPUserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DefaultFTPRelease" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultFTPFolder" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="LocalFTPLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReleaseFolder" serializeAs="String">
                <value>%APPDATA%\Durham University\Killhope\CurerentRelease\</value>
            </setting>
        </Killhope.Plugins.Manager.Presentation.Properties.Settings>
    </userSettings>
</configuration>
